<div class="container">
    <h1>Add new watering</h1>
    <form class="form-floating mb-3">
        <input type="date" class="form-control" id="date" placeholder="éééé. hh. nn" value="">
        <label for="date">éééé. hh. nn</label>
      </form>

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="plantsName" placeholder="Water amount(ml)">
        <label for="plantsName">Water amount(ml)</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="notes" placeholder="Notes">
        <label for="notes">Notes</label>
      </div>

      <div class="buttons">
        <button type="button" class="btn btn-primary mb-3">Save log</button>
        <button type="button" class="btn btn-secondary mb-3">Back to watering logs list</button>
    </div>
</div>