<div class="container">
<h1>Plants management</h1>
<button type="button " class="btn btn-primary mb-3"> Add new plant </button>



  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="plantsName" placeholder="Plant's name">
      <label for="plantsName">Plant's name</label>
    </div>
  
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="plantsSpecies" placeholder="Plant's species">
      <label for="plantsSpecies">Plant's species</label>
    </div>
  
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="wateringIntervalDays" placeholder="Watering interval days">
      <label for="wateringIntervalDays">Watering interval days</label>
    </div>

    <div class="buttons">
      <button type="button" class="btn btn-primary mb-3">Save plant</button>
      <button type="button" class="btn btn-secondary mb-3">Back to plants list</button>
  </div>
</div>

