<div class="container">
<h1>Dashboard</h1>
<h3>Statistics</h3>
    <table class="table table-striped">
        <thead>
          <th>
            Plant
          </th>

          <th>
            Species
          </th>

          <th>
            Last watered date
          </th>
          <th>
            Watering count
          </th>
          <th>
            Avg water amount
          </th>

          <th>
            Total water amount
          </th>
        </thead>
        <tbody>
          <tr>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
            <td>asd</td>
          </tr>
          <tr>
          
          </tr>
          <tr>
          
          </tr>
        </tbody>
      </table>
</div>
