<div class="container">
<h1>Waterings management</h1>

<div class="form-floating mb-3">
    <select class="form-select" id="selectedPlant" aria-label="Select a plant...">
      <option selected>Select a plant...</option>
      <option value="1">asd</option>
      <option value="2">asd</option>
      <option value="3">asd</option>
    </select>
    <label for="selectedPlant">Select a plant...</label>
  </div>


<h3>Watering logs</h3>

<table class="table table-striped">
    <thead>
      <th>
        Watering date 
      </th>

      <th>
        Water amount
      </th>

      <th>
        Notes
      </th>
      <th>
       Operations
      </th>
    </thead>
    <tbody>
      <tr>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
      </tr>
    </tbody>
   
  </table>
</div>